.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 80px 0 0;
  box-sizing: border-box;
}

@media (max-height: 820px) and (min-width: 1024px) {
  .container {
    padding-top: 76px;
  }
}

@media (max-width: 760px) {
  .container {
    padding-top: 72px;
  }
}
